:root {
  --darker: #212529;
  --dark: #495057;
  --medium: #adb5bd;
  --light: #dee2e6;
  --lighter: #f8f9fa;
  --accent: #3a86ff;

  --yellow: #ffbe0b;
  --orange: #fb5607;
  --pink: #ff006e;
  --purple: #8338ec;
  --blue: #3a86ff;

}

html {
  font-family: "Consolas";
  
}

body {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: auto;
  /* gap: 20px; */
  margin: 0;
  /* padding: 20px; */
}