:root {
  --darker: #212529;
  --dark: #495057;
  --medium: #adb5bd;
  --light: #dee2e6;
  --lighter: #f8f9fa;
  --accent: #ef233c;

  --yellow: #ffbe0b;
  --orange: #fb5607;
  --pink: #ff006e;
  --purple: #8338ec;
  --blue: #3a86ff;

}

html {
  font-family: "Calibri";
  color: var(--darker);
  box-sizing: border-box;
  background-color: var(--lighter);
}

body {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
}

table {
  width: 100%;
}